fic_mk2.cache
fic_mk2.hw
fic_mk2.ip_user_files
fic_mk2.runs
fic_mk2.sim
genesys2.cache
genesys2.hw
genesys2.ip_user_files
genesys2.runs
genesys2.sim
nexys4.cache
nexys4.hw
nexys4.ip_user_files
nexys4.runs
nexys4.sim
arty35t.cache
arty35t.hw
arty35t.ip_user_files
arty35t.runs
arty35t.sim
slurm-*.out
*.jou
*.str
*.log
.Xil/
*~
ucimage/main.bin
ucimage/main.elf
ucimage/main.o
ucimage/simrv.o
ucimage/startup.o
*.dcp
